<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Anbu Group</title>

  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link rel="icon" href="{{ site.baseurl }}/assets/img/logo.jpg">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/apple-touch-icon.png">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/aos/aos.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/glightbox/css/glightbox.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.css">

  <!-- Main CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
