<header id="header" class="header">

  <div class="top-banner">
    <div class="banner-content">

      <!-- IITM Logo -->
      <a href="https://www.iitm.ac.in" target="_blank" rel="noopener">
        <img src="{{ '/assets/img/logo.jpg' | relative_url }}" alt="IIT Madras Logo" class="banner-logo">
      </a>

      <h2 class="banner-title">THE ANBU GROUP</h2>

      <img src="{{ '/assets/img/profile/anbulogo.png' | relative_url }}" alt="Profile" class="right-logo">

    </div>
  </div>

  <nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
      <li><a href="{{ '/anbarasan.html' | relative_url }}" class="{% if page.url contains 'anbarasan' %}active{% endif %}">Portfolio</a></li>
      <li><a href="{{ '/research.html' | relative_url }}" class="{% if page.url == '/research/' %}active{% endif %}">Research</a></li>
      <li><a href="{{ '/researchfacilities.html' | relative_url }}" class="{% if page.url contains 'researchfacilities' %}active{% endif %}">Research Facilities</a></li>
      <li><a href="{{ '/publication.html' | relative_url }}" class="{% if page.url contains 'publication' %}active{% endif %}">Publications</a></li>
      <li><a href="{{ '/faculty.html' | relative_url }}" class="{% if page.url contains 'faculty' %}active{% endif %}">Members</a></li>
      <li><a href="{{ '/photos.html' | relative_url }}" class="{% if page.url contains 'photos' %}active{% endif %}">Photos</a></li>
      <li><a href="{{ '/positions.html' | relative_url }}" class="{% if page.url contains 'positions' %}active{% endif %}">Positions</a></li>
      <li><a href="{{ '/links.html' | relative_url }}" class="{% if page.url contains 'links' %}active{% endif %}">Links</a></li>
    </ul>

    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>

</header>
